@font-face {
    font-family: 'montserrat';
    src: url(../fonts/montserrat-extralight.ttf);
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url(../fonts/montserrat-light.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url(../fonts/montserrat-regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url(../fonts/montserrat-medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url(../fonts/roboto-regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url(../fonts/roboto-medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url(../fonts/raleway-regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url(../fonts/raleway-medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url(../fonts/raleway-semibold.ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url(../fonts/raleway-bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url(../fonts/raleway-extrabold.ttf);
    font-weight: 800;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: #ffffff;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    min-width: 430px;
}

.main-header {
    min-height: 1024px;
    background-image: url('../img/bg_photo_11949.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #434343;
}

.header-top-row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    padding-top: 40px;
    min-height: 165px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    text-decoration: none;
    color: #fff;
}
  
.logo-svg {
    fill: currentColor;
}
  
.logo-txt {
    font-family: 'raleway', 'arial', sans-serif;
    font-size: 34px;
    font-weight: 400;
    font-style: normal;
    text-align: right;
}
  
.logo:hover {
    color: #c7b299;
}

.logo:active {
    color: #eed6b9;
}

.header-top-cnt {
    display: flex;
    flex-wrap: wrap;
    padding-top:20px;
}

.main-header-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-start;
    box-sizing: content-box;
}

.main-header-list li {
    margin-right: 30px;
}

.main-header-list li:last-child {
    margin-right: 0;
}

.list-item-link {
    text-decoration: none;
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
}

.list-item-link:hover {
    color: #c7b299;
}

.list-item-link:active {
    color: #eed6b9;
}

.header-buttons-cnt {
    margin-left: auto;
    padding-left: 63px;
}

.button-cart {
    background-color: transparent;
    border: 0 transparent;
    cursor: pointer;
    outline: none;
    margin-right: 28px;
}

.button-cart-svg {
    fill: #fff;
}

.button-cart-svg:hover {
    fill: #c7b299;
}

.button-cart-svg:active {
    fill: #eed6b9;
}

.form-search {
    display: inline-block;
    position: relative;
    height: 24px;
}

.header-search {
    width: 24px;
    height: 24px;
    outline: none;
    border: transparent;
    background-color: transparent;
    opacity: 0;
    color: #fff;
    position: absolute;
    top: 30px;
    left: -176px;
    z-index: 100;
}

.header-search-svg {
    fill: #fff;
}

.header-search-svg:hover {
    fill: #c7b299;
    cursor: pointer;
}

.header-search:focus {
    width: 200px;
    transition: width 1s ease-out;
    background-position: right;
    border: 1px solid #c7b299;
    opacity: 1;
}

.form-search-label {
    display: inline-block;
}

.carusel-cnt {
    display: flex;
    justify-content: center;
}

.carusel {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    min-height: 750px;
    margin: 0 auto;
    position: relative;
}
  
.carusel-btn {
    display: block;
    width: 40px;
    height: 73px;
    position: relative;
    background-color: transparent;
    border: 0 transparent;
    cursor: pointer;
    outline: none;
}
  
.carusel-btn:nth-of-type(1):after {
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    border-top: 2px solid #d3c1ad;
    border-right: 2px solid #d3c1ad;
    transform: rotate(225deg);
    position: absolute;
    top: 10px;
    left: 24px;
}
  
.carusel-btn:nth-of-type(1):hover:after {
    border-top: 2px solid #8a8075;
    border-right: 2px solid #8a8075;
}

.carusel-btn:nth-of-type(1):active:after {
    border-top: 2px solid #cac5bf;
    border-right: 2px solid #cac5bf ;
}

.carusel-btn:nth-of-type(2):after {
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    border-top: 2px solid #d3c1ad;
    border-right: 2px solid #d3c1ad;
    transform: rotate(45deg);
    position: absolute;
    top: 10px;
    left: -36px;
}
  
.carusel-btn:nth-of-type(2):hover:after {
    border-top: 2px solid #8a8075;
    border-right: 2px solid #8a8075;
}

.carusel-btn:nth-of-type(2):active:after {
    border-top: 2px solid #cac5bf;
    border-right: 2px solid #cac5bf;
}
  
  
.carusel-txt {
    width: 589px;
    min-height: 156px;
    color: #fff;
    text-align: center;
}

.carusel-txt-subtitle {
    font-family: 'raleway', 'arial', sans-serif;
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
}

.carusel-txt-title {
    font-family: 'raleway', 'arial', sans-serif;
    font-size: 52px;
    font-weight: 800;
    font-style: normal;
}

.carusel-txt-text {
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    margin-top: 18px;
}

.carusel-btn-get {
    width: 170px;
    min-height: 53px;
    background-color: #998675;
    border-radius: 3px;
    outline: none;
    border: 0;
    font-family: 'raleway', 'arial', sans-serif;
    font-size: 14px;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 52px;
    box-shadow: inset 0px -3px 0px 0px rgba(115, 99, 87, 0.8);
}

.carusel-btn-get:hover {
    background-color: #aa9583;
    cursor: pointer;
}

.carusel-btn-get:active {
    color: #eed6b9;
    cursor: pointer;
    box-shadow: none;
}
  
.carusel-pagination {
    display: flex;
    justify-content: space-between;
    width: 100px;
    padding: 0 0 42px 0;
    bottom: 0;
    margin: auto;

}
  
.carusel-pagination-item {
    display: block;
    width: 9px;
    height: 9px;
    background-color: #fff;
    opacity: 0.5;
    border-radius: 50%;
    border: 2px solid transparent;
}
  
.carusel-pagination-item:hover,
.carusel-pagination-item-selected {
    display: block;
    width: 9px;
    height: 9px;
    background-color: transparent;
    border: 2px solid #fff;
    opacity: 0.5;
    border-radius: 50%;
    transform: scale(1.2);
}

.features {
    min-height: 373px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.features-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 267px;
    text-decoration: none;
    color: #555555;
    margin: 20px 17px;
}

.features-block-svg {
    fill: currentColor;
}

.features-block-title {
    font-family: 'raleway', 'arial', sans-serif;
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    margin-top: 30px;
}

.features-block-text {
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: #8c8c8c;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    letter-spacing: -0.3px;
}

.features-block:hover {
    color: #c7b299;
}

.features-block:after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
    margin: 0 auto;
    align-self: flex-end;
}
  
.features-block:hover:after {
    background-color: #c7b299;
}

.examples {
    min-height: 700px;
    background-color: #fbfaf8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-txt {
    max-width: 760px;
    min-height: 95px;
    text-align: center;
    margin-top: 83px;
}

.section-title {
    font-family: 'raleway', 'arial', sans-serif;
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    color: #555555;
}

.section-text {
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: #8c8c8c;
    letter-spacing: -0.3px;
    margin-top: 24px;
    padding: 0 5px;
}

.examples-img {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 40px;
}

.examples-photo:first-child {
    top: 82px;
    left: 178px;
    z-index: 1;
    position: absolute;
}

.examples-photo:nth-child(2) {
    margin: 0 auto;
    z-index: 2;
}

.examples-photo:last-child {
    top: 82px;
    right: 178px;
    z-index: 1;
    position: absolute;
}

.aside-buy {
    min-height: 150px;
    width: 100%;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.aside-buy-txt {
    width: 530px;
    min-height: 53px;
    padding-left: 10px;
}

.aside-buy-title {
    color: #ffffff;
    font-family: 'raleway', 'arial', sans-serif;
    font-size: 28px;
    font-weight: 400;
    font-style: normal;
}

.aside-buy-title-word {
    font-family: 'raleway', 'arial', sans-serif;
    font-size: 28px;
    font-weight: 400;
    font-style: normal;
    color: #c7b299;
}

.aside-buy-text {
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    color: #615855;
    margin-top: 4px;
    letter-spacing: -0.5px;
}

.section-btn {
    width: 170px;
    min-height: 50px;
    background-color: #998675;
    border-radius: 3px;
    outline: none;
    border: 0;
    font-family: 'raleway', 'arial', sans-serif;
    font-size: 14px;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
    color: #ffffff;
    box-shadow: inset 0px -3px 0px 0px rgba(115, 99, 87, 0.8);
    margin-right:10px;
}

.section-btn:hover {
    background-color: #aa9583;
    cursor: pointer;
}

.section-btn:active {
    color: #eed6b9;
    cursor: pointer;
    box-shadow: none;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-nav-button {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    max-width: 605px;
    flex-wrap: wrap;
}

.nav-button-item {
    font-family: 'montserrat', 'arial', sans-serif;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    border: 1.0px solid #ebebeb;
    border-radius: 3.0px;
    background-color: #ffffff;
    width: 120px;
    min-height: 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    outline: none;
    margin-right: 10px;
    margin-bottom: 5px;
}

.nav-button-item:last-child {
    margin-right: 0px;
}

.nav-button-item:nth-of-type(1) {
    width: 70px;
    min-height: 32px;
}

.nav-button-item:nth-of-type(5) {
    width: 135px;
    min-height: 32px;
}

.nav-button-item:hover {
    color: #fff;
    background-color: #998675;
    cursor: pointer;
}

.nav-button-item:active {
    color: #fff;
    background-color: #c2aa95;
    cursor: pointer;
}

.projects-block-card {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: center;
}

.projects-card {
    width: 370px;
    position: relative;
    margin: 15px;
}
  
.projects-card:hover .projects-card-btn-link {
    display: block;
}
  
.projects-card:hover .projects-card-btn-search {
    display: block;
}
  
.projects-card:hover .projects-card-photo {
    filter: brightness(30%);
}
  
.projects-card:hover .projects-card-txt-wrapper {
    background-color: #362f2d;
}
  
.projects-card:hover  .projects-card-txt-wrapper:before {
    border-bottom: 10px solid #362f2d;
}

.projects-card:hover .projects-card-title {
    color: #fff;
}

.projects-card:hover .projects-card-txt {
    color: #c7b299;
}

.projects-card-photo {
    display: block;
    width: 100%;
}
  
.projects-card-txt-wrapper {
    width: 100%;
    position: relative;
    background-color: #fbfaf8;
}
  
.projects-card-txt-wrapper:before {
    content: "";
    border: 15px solid transparent;	
    border-bottom: 10px solid #fbfaf8;
    position: absolute;
    top: -25px;
    left: 19px;
}
  
.projects-card-title {
    display: block;
    text-align: left;
    padding: 30px 0 0 28px;
    font-family: 'raleway', 'arial', sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    color: #c7b299;
}
  
.projects-card-txt {
    display: block;
    text-align: left;
    padding: 14px 0 27px 28px;
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: #d1d1d1;
}

.projects-card-btn-link,
.projects-card-btn-search {
    background-color: transparent;
    border: 0 transparent;
    cursor: pointer;
    outline: none;
    display: none;
    position: absolute;
    top: 30%;
}
  
.projects-card-btn-link {
    left: 35%;
}
  
.projects-card-btn-search {
    right: 35%;
}

.projects-card-btn-link-svg {
    fill: #fff;
}

.projects-card-btn-link-svg:hover {
    fill: #c7b299;
}

.projects-card-btn-link-svg:active {
    fill: #eed6b9;
}

.projects-card-btn-search-svg {
    fill: #fff;
}

.projects-card-btn-search-svg:hover {
    fill: #c7b299;
}

.projects-card-btn-search-svg:active {
    fill: #eed6b9;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: #ccc;
    margin-top: 80px;
}

.video-item {
    object-fit: fill;
}
  
.video-txt-wrp {
    max-width: 552px;
    box-sizing: border-box;
    position: absolute;
}
  
.video-play-btn {
    display: flex;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50%;
    outline: none;
    background-color: rgba(0, 0, 0, 0.2);
}
  
.video-play-btn-icon {
    margin: auto;
    fill: #fff;
}
  
.video-play-btn:hover .video-play-btn-icon {
    fill: #c7b299;
}
  
.video-play-btn:active .video-play-btn-icon {
    fill: #eed6b9;
    
}
  
.video-txt-title {
    font-family: 'raleway', 'arial', sans-serif;
    font-size: 30px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin-top: 40px;
}

.video-txt-p {
    text-align: justify;
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.3px;
    color: #ffffff;
    margin-top: 29px;
}
  
.video-txt-time {
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    color: #c7b299;
    margin-top: 40px;
}
  
.video-txt-title,
.video-txt-time,
.video-txt-p {
    display: block;
    text-align: center;
}
  
.for-mobile {
    min-height: 695px;
    background-color: #fbfaf8;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    padding-top: 50px;
    box-sizing: border-box;
}

.for-mobile-block-text {
    display: flex;
    margin-left: 30px;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 183px;
}

.for-mobile .section-text {
    max-width: 657px;
    margin-top: 40px;
    line-height: 1.75;
}

.for-mobile-list li {
    list-style-type: none;
    position: relative;
}

.for-mobile-list {
    max-width: 596px;
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 2;
    letter-spacing: -0.3px;
    color: #8c8c8c;
    margin-top: 40px;
    margin-left: 100px;
}

.for-mobile-list-svg {
    position: absolute;
    fill: #c7b299;
    left: -49px;
    top: 5px;
}

.statistics {
    min-height: 260px;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.statistics-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 132px;
    text-decoration: none;
    color: #c7b299;
    margin: 20px 36px;
}

.statistics-block-svg {
    fill: currentColor;
}

.statistics-block-digits {
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 48px;
    font-weight: 200;
    font-style: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin-top: 30px;
    line-height: 0.75;
}

.statistics-block-text {
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: -0.4px;
    margin-top: 21px;
    margin-bottom: 30px;
}

.statistics-block::after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: #fff;
    margin: 0 auto;
    align-self: flex-end;
}

.recent-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recent-posts .section-title {
    margin-top: 82px;
}

.recent-posts .section-text {
    max-width: 757px;
    text-align: center;
}

.recent-posts-block-card {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recent-posts-card {
    width: 370px;
    border: solid 1px #f8f8f8;
    position: relative;
    margin: 0 15px 20px;
}

.recent-posts-card-data {
    position: absolute;
    margin: 20px 0 0 20px;
    z-index: 500;
}

.card-data-head {
    width: 50px;
    min-height: 35px;
    background-color: #363636;
    display: block;
    border-radius: 3px 3px 0 0;
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.card-data-foot {
    width: 50px;
    min-height: 25px;
    background-color: #252525;
    display: block;
    border-radius: 0 0 3px 3px;
    font-family: 'roboto', 'arial', sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    line-height: 2.1;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.recent-posts-photo {
    display: block;
}

.recent-posts-card:hover {
    background-color: #362f2d;
}

.recent-posts-card:hover .recent-posts-photo {
    filter: brightness(30%);
}

.recent-posts-card:hover .recent-posts-card-title {
    color: #c7b299;
}

.recent-posts-card:hover .recent-posts-card-txt {
    color: #fff;
}

.recent-posts-card:hover .card-data-head {
    background-color: #c7b299;
}

.recent-posts-card:hover .card-data-foot {
    background-color: #a48d72;
}

.recent-posts-card-title {
    font-family: 'raleway', 'arial', sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    color: #555555;
    margin: 30px 0 0 29px;
}

.recent-posts-card-txt {
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    color: #8c8c8c;
    margin: 19px 0 0 29px;
}

.recent-posts-card-a {
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    color: #c7b299;
    text-decoration: none;
    position: relative;
    margin: 27px 0 33px 29px;
    display: inline-block;
}

.recent-posts-card-a:before {
    content: "";
    border: 5px solid transparent;
    border-left: 6px solid #c7b299;
    position: absolute;
    top: 5px;
    left: 84px;
}

.recent-posts-card-a:hover {
    color: #fff;
}

.recent-posts-card-a:hover:before {
    border-left: 6px solid #fff;
}

.recent-posts-button-block {
    display: flex;
    flex-direction: row;
}

.recent-posts-button {
    background-color: transparent;
    border: 0 transparent;
    cursor: pointer;
    outline: none;
    fill: #d1d1d1;
    margin: 20px 4px 80px 4px;
}

.recent-posts-button:hover {
    fill: #c7b299;
}

.recent-posts-button:active {
    fill: #eed6b9;
}

.partners {
    min-height: 489px;
    background-image: url(../img/bg-partners-big.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #434343;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.partners a {
    margin: 20px 45px;
}

.partners a:hover {
    opacity: 0.7;
}

.main-footer {
    min-height: 508px;
    background-color: #191919;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-footer-waxom {
    width: 258px;
    margin: 0 20px 0 20px;
    padding-top: 80px;
}

.main-footer-waxom-txt {
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: -0.3px;
    color: #555555;
    margin-top: 29px;
}

.main-footer-waxom-a {
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    color: #d1d1d1;
    text-decoration: none;
    position: relative;
    margin-top: 33px;
    display: inline-block;
}

.main-footer-waxom-a:before {
    content: "";
    border: 5px solid transparent;
    border-left: 6px solid #d1d1d1;
    position: absolute;
    top: 5px;
    left: 84px;
}

.main-footer-waxom-a:hover {
    color: #c7b299;
}

.main-footer-waxom-a:hover:before {
    border-left: 6px solid #c7b299;
}

.main-footer-posts {
    width: 270px;
    margin: 0 20px 0 20px;
    padding-top: 108px;
}

.main-footer-title {
    font-family: 'raleway', 'arial', sans-serif;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    color: #ffffff;
    line-height: 0.75;
    margin-bottom: 33px;
}

.main-footer-post-cnt, .main-footer-post-cnt:hover  {
    display: block;
    text-decoration: none;
}

.main-footer-posts-time {
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    color: #363636;
}

.main-footer-posts-txt {
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: -0.3px;
    color: #555555;
    margin-top: 10px;
}

.main-footer-post-cnt:hover .main-footer-posts-time {
    color: #fff;
}

.main-footer-post-cnt:hover .main-footer-posts-txt {
    color: #c7b299;
}

.main-footer-posts .main-footer-post-cnt:after {
    content: "";
    display: block;
    width: 270px;
    height: 1px;
    background-color: #252525;
    margin: 21px auto 19px auto;
}  

.main-footer-posts .main-footer-post-cnt:last-child:after {
    display: none;
}

.main-footer-our-twitter {
    width: 270px;
    margin: 0 20px 0 20px;
    padding-top: 108px;
}

.main-footer-our-twitter-txt {
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: -0.3px;
    color: #555555;
    margin-top: 10px; 
}

.main-footer-our-twitter-link {
    text-decoration: none;
    color: #00bff3;
}

.main-footer-our-twitter-last-link {
    text-decoration: none;
    color: #959595;
}

.main-footer-our-twitter-time {
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    color: #363636;
}

.main-footer-our-twitter time:after {
    content: "";
    display: block;
    width: 270px;
    height: 1px;
    background-color: #252525;
    margin: 21px auto 19px auto;
}

.main-footer-our-twitter time:last-child:after {
    display: none;
}

.main-footer-our-twitter-txt a:hover {
    opacity: 0.7;
}

.main-footer-widget {
    width: 290px;
    margin: 0 20px 0 20px;
    padding-top: 108px;
}

.main-footer-widget img {
    margin-right:10px;
    margin-bottom: 10px;
}

.main-footer-widget img:hover {
    opacity: 0.8;
}

.footer-lower {
    min-height: 111px;
    background-color: #111111;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-lower-block p, a {
    text-decoration: none;
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    color: #555555;
    display: inline-block;
}

.footer-lower-block a:after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 13px;
    background-color: #252525;
    margin: 0 13px;
}

.footer-lower-block p:after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 13px;
    background-color: #252525;
    margin: 0 13px;
}

.footer-lower-block a:last-child:after {
    display: none;
}

.footer-lower-block p:last-child:after {
    display: none;
}

.footer-lower-allocated {
    color: #959595;
}

.footer-lower-block a:hover {
    color: #c7b299;
}

.footer-lower-allocated:hover {
    color: #c7b299;
}

.mobile-label-btn,
.mobile-input-btn {
    display: none;
}

@media (max-width:480px) {

    .header-buttons-cnt {
        display: none;
    }

    .carusel {
        display: none;
    }

    .carusel-pagination {
        display: none;
    }

    .main-header {
        min-height: 0;
    }

    .header-top-row {
        padding-top: 30px;
        padding-bottom: 30px;
        min-height: 0;
    }

    .header-top-cnt {
        padding-top: 0;
        justify-content: flex-end;
    }

    .mobile-menu__icon {
        display: block;
        position: relative;
        background: rgba(255,255,255,1);
        width: 90%;
        height: 5px;
        transition: .4s;
    }

    .mobile-menu__icon:after,
    .mobile-menu__icon:before {
        content: "";
        display: block;
        position: absolute;
        background: rgba(255,255,255,1);
        width: 100%;
        height: 5px;
        transition: .4s;
    }

    .mobile-menu__icon:after {
      top: 12px;
    }

    .mobile-menu__icon:before {
      top: -12px;
    }

    .mobile-label-btn {
        width: 60px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-header-list {
        height: 0;
        visibility: hidden;
        margin: 0 auto;
        width: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .main-header-list li {
        text-align: right;;
        margin-top: 2px;
        margin-right: 0;
    }

    .mobile-input-btn[type="checkbox"]:checked ~ .main-header-list {
        height: auto;
        visibility: visible;
    }

    .mobile-input-btn[type="checkbox"]:checked ~ .mobile-label-btn .mobile-menu__icon {
        background: transparent;
    }

    
    .mobile-input-btn[type="checkbox"]:checked ~ .mobile-label-btn .mobile-menu__icon:after,
    .mobile-input-btn[type="checkbox"]:checked ~ .mobile-label-btn .mobile-menu__icon:before {
        top: 0;
    }

    .mobile-input-btn[type="checkbox"]:checked ~ .mobile-label-btn .mobile-menu__icon:after {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
           
    .mobile-input-btn[type="checkbox"]:checked ~ .mobile-label-btn .mobile-menu__icon:before {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }

    .list-item-link {
        font-size: 24px;
    }

    .examples {
        display: none;
    }

    .for-mobile {
        display: none;
    }

    .main-footer div {
        padding-top: 40px;
    }

    .footer-lower {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
       
}

@media (max-width:980px) {
    .examples {
        display: none;
    }

}


